<% include partials/header %>

<h1>Learned Items:</h1>

<div id="html-stuff" class="container">
    <h2>HTML Items:</h2>
    <table>
        <td>
            <th>HTML</th>
            <th>Function</th>
        </td>
        
    </table>
    <a href="new_html" class="button">Add HTML</a>
</div>

<div id="css-stuff" class="container">
    <h2>CSS Items:</h2>
    <table>
        <td>
            <th>CSS</th>
            <th>Function</th>
        </td>
        
    </table>
    <a href="new_css" class="button red">Add CSS</a>
</div>

<div id="mongoose-stuff" class="container">
    <h2>Mongoose Items:</h2>
    <table>
        <td>
            <th>Mongoose Code</th>
            <th>Function</th>
        </td>
        
    </table>
    <a href="new_mongoose">Add CSS</a>
</div>

<% include partials/footer %>