<% include partials/header %>

<div class="container center padding">
    <h1>Energon Inc.</h1>
    <hr class="index">
    <h2>Welcome to the future of energy!</h2>
    
    <div class="padding"></div>
    <a href="/about" class="btn btn-outline-primary">ENTER</a>
</div>

<% include partials/footer %>