body{
    font: 1em "Times New Roman", serif;
}

button, .button{
    font: 1em "Times New Roman", serif;
    padding: 5px;
    border: 3px solid black;
    border-radius: 7px;
    background-color: white;
    text-decoration: none;
    color: black;
}

.center{
    text-align: center;
}

.centered{
    margin: 0 auto;
}

table, table.centered{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 10px auto;
}

td{
    padding: 3px;
    border: 1px solid black;
}

th{
    border: 1px solid black;
    border-bottom: 2px solid black;
    padding: 3px;
}

table.middleseperation td{
    border: none;
}

table.middleseperation th{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black
}

table.middleseperation td.middleseperationedge, table.middleseperation th.middleseperationedge{
    border-right: 1px solid black;
}